<h1>KakeStyle Garments </h1>
<ul>
  <% @garments.each do |garment| %>
  <li>
   <%= link_to garment.name.capitalize, garment_path(garment) %>
   <%= link_to 'Edit', edit_garment_path(garment) %>
   <%= link_to 'Delete', garment_path(garment), method: :delete, data: {confirm: 'Are you sure?'} %>
  </li>
  <% end %>
</ul>
