<h1><%= @garment.name.capitalize %></h1>

<table>
  <head>
    <td>
      Color
    </td>
    <td>
      Material
    </td>
    <td>
      Price
    </td>
    <td>
      Cool?
    </td>
  </head>
  <tbody>
    <td>
    <%=@garment.color%>
    </td>
  </tbody>
</table>
